::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
   border-radius: 5px;
  }
  .submit-button-section{

    display: flex;
  
    justify-content: flex-end;
  
    margin-top: 15px;
    margin-left: 30px;
  
  }

  .mat-cell.hovered {
    text-decoration:underline gray ;
  }