.loader-bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width:100%;
    height:100%;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40!important;

.spinner-container{
    display: flex;
    justify-content: center;
}

}