<div id="customer-container" class="page-wrapper">
    <br>
    <div class="page-title-wrapper M12">
      <span class="page-title">Resource Related Activity</span>
    </div>
  
  
    <div class="page-header-section1 mt-15 mb-15">
        <form [formGroup]="superForms">
    
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="65px" style="    justify-content: flex-start !important;" >
    
            <div fxFlex="25%">
              <div  fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="pb-0 w-100">
    
                  <mat-label>Select Profit Center</mat-label>
                  <input type="text"
                         placeholder="Select Profit Center"
                         aria-label="Number"
                         matInput
                         formControlName="profitCentre"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let company of autoData" [value]="company.name">
                      {{company.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
    
            
            <div fxFlex="25%">
              <div  fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class=" w-100" >
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="pickerrr" 
                      formControlName="startDate">
                  <mat-datepicker #pickerrr></mat-datepicker>
              </mat-form-field>
              <mat-datepicker-toggle matIconSuffix [for]="pickerrr" style=" margin-left: -40px; margin-top: 10px;">
              </mat-datepicker-toggle>  
              
              </div>
            </div>
            <div fxFlex="25%" >
              <div  fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class=" w-100" >
                  <mat-label>End Date</mat-label>
                  <input matInput [matDatepicker]="pickerrrr" 
                      formControlName="endDate">
                  <mat-datepicker #pickerrrr></mat-datepicker>
              </mat-form-field>
              <mat-datepicker-toggle  matIconSuffix [for]="pickerrrr" style=" margin-left: -40px; margin-top: 10px;" >
              </mat-datepicker-toggle>
            </div>
          </div>
   
            <div fxFlex="30%">
              <div class="submit-button-section">
                <button mat-raised-button color="primary" (click)="filterSearchforcompany()" class="submit-button ml600 ">
                  Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
   

    <div class="page-content-section mt-t25">
  
        <div class="company-list mat-elevation-z2 table-container ">
            <table mat-table matSort #table  (matSortChange)="sortData($event)"
            matSortActive="auditSection.createdDate"
            matSortDirection="desc"
            matSortDisableClear [dataSource]="profitCenterRelatedlist" class="app-table">

            <ng-container matColumnDef="month">
                <th mat-header mat-header-cell *matHeaderCellDef>Month</th>
                <td mat-cell *matCellDef="let element"> {{element.month}}</td>
              </ng-container>
              <ng-container matColumnDef="resourcename">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Name</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceName}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcecostcentre">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Cost Centre</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceCostCentre}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcetype">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Type</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceType}} </td>
              </ng-container>

              <ng-container matColumnDef="projectname">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Project Name</th>
                <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
              </ng-container>

              <ng-container matColumnDef="projectprofitcentre">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Project Profit Centre</th>
                <td mat-cell *matCellDef="let element"> {{element.projectProfitCentre}} </td>
              </ng-container>

              <ng-container matColumnDef="projecttype">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Project Type</th>
                <td mat-cell *matCellDef="let element"> {{element.projectType}} </td>
              </ng-container>

              <ng-container matColumnDef="days">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Days</th>
                <td mat-cell *matCellDef="let element"> {{element.days}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcesellrate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Sell Rate</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceSellRate}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcesellratecurrency">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Sell Rate Currency</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceSellRateCurrency}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcetransferrate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Transfer Rate</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceTransferRate}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcetransferratecurrency">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Transfer Rate Currency</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceTransferRateCurrency}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcedailycostrate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Daily Cost Rate</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceDailyCostRate}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcedailycostratecurrency">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Daily Cost Rate Currency</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceDailyCostRateCurrency}} </td>
              </ng-container>

              <ng-container matColumnDef="relevantsellrate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Relevant Sell Rate</th>
                <td mat-cell *matCellDef="let element"> {{element.relevantSellRate}} </td>
              </ng-container>

              <ng-container matColumnDef="profitcentrecurrency">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Profit Centre Currency</th>
                <td mat-cell *matCellDef="let element"> {{element.profitCentreCurrency}} </td>
              </ng-container>

              <ng-container matColumnDef="relevantcostrate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Relevant Cost Rate</th>
                <td mat-cell *matCellDef="let element"> {{element.relevantCostRate}} </td>
              </ng-container>

              <ng-container matColumnDef="profitcentrecurrency1" >
                <th mat-sort-header mat-header-cell *matHeaderCellDef >Profit Centre Currency</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{ 'background-color': containsChar(element.profitCentreCurrency1, 'Total') ? '' : 'white' ,
                'font-weight': containsChar(element.profitCentreCurrency1, 'Total') ? '600' : ''}"> {{element.profitCentreCurrency1}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcerevenue">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Revenue</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceRevenue}} </td>
              </ng-container>

              <ng-container matColumnDef="profitcentrecurrency2">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Profit Centre Currency</th>
                <td mat-cell *matCellDef="let element"> {{element.profitCentreCurrency2}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcecost">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Cost</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceCost}} </td>
              </ng-container>

              <ng-container matColumnDef="profitcentrecurrency3">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Profit Centre Currency</th>
                <td mat-cell *matCellDef="let element"> {{element.profitCentreCurrency3}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcemargin">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Margin</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceMargin}} </td>
              </ng-container>

              <ng-container matColumnDef="profitcentrecurrency4">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Profit Centre Currency</th>
                <td mat-cell *matCellDef="let element"> {{element.profitCentreCurrency4}} </td>
              </ng-container>

              <ng-container matColumnDef="resourceactualcost">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Actual Cost</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceActualCost}} </td>
              </ng-container>

              <ng-container matColumnDef="profitcentrecurrency5">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Profit Centre Currency</th>
                <td mat-cell *matCellDef="let element"> {{element.profitCentreCurrency5}} </td>
              </ng-container>

              <ng-container matColumnDef="resourcecostadjustment">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Cost Adjustment</th>
                <td mat-cell *matCellDef="let element"> {{element.resourceCostAdjustment}} </td>
              </ng-container>   
              
              <ng-container matColumnDef="profitcentrecurrency6">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Profit Centre Currency</th>
                <td mat-cell *matCellDef="let element"> {{element.profitCentreCurrency6}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="position:20px;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'rowActive' :(row.activeClass != undefined),'fw-bold':(row.activeTotalClass != undefined)}"></tr>
            </table>
          </div>

        <!-- <mat-paginator class="app-table-paginator" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
          [length]="totalResult" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
     -->
      </div> 
      <!-- <div class="table-resposive">
        <table class="table table-bordered">
          <thead>

           <tr>
            <ng-container *ngFor="let h of getObjKeys(totalData.reportsDTOList[keys[0]][0]); let i=index" >
              <th  scope="col" class="text-center">{{h}}</th>

            </ng-container>
           </tr>
          </thead> 
        </table>
        
      </div> -->
  </div>

