.header11{
    font-weight: 600;
    font-size: 1.4em;
    margin-left: 40px;
    margin-top: 20px;

}
.cmll40{
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 40px;
    height: 40px;

}

.cmll41{
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    height: 500px;
}

.header11{
    font-weight: 600;
    font-size: 1.4em;
    margin-left: 40px;
    margin-top: 20px;

}
.clr:hover{
    background-color: #00c4f8;
}