.cmll40{
    margin-left: 60px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 40px;
    height: 40px;

}
.pd23{
    padding-top: 23px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    margin-top: -30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 207, 209);
    // background-color:rgb(240, 239, 239);
}
.pd24{
    padding-top: 23px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 207, 209);
    // background-color:rgb(240, 239, 239);
}