<div class="page-header-section">
  <br>
  <H1 class="header11">{{objId && objId != "" ? 'Edit' : 'Add'}} Group</H1>
</div>
<div class="p-5 cmll41" style="background-color:white;  padding: 1rem!important;">
  <form (ngSubmit)="onSubmit()" [formGroup]="superForm" #formDirective="ngForm">
    <div class="d-flex justify-content-end cmll40">
      <button class="clr" type="button" value="colourchange" mat-raised-button style="box-sizing: content-box;" (click)="close()">Cancel</button>
      <button class="ms-2" type="submit" mat-raised-button color="primary" style="box-sizing: content-box;">
        Save
      </button>
    </div>

    <div class="column" style="margin-top: 10px;">
      <div class="col-6">
        <mat-form-field class="example-form-field" style="width: 100%;" appearance="outline">
          <mat-label>Group Name</mat-label>
          <input
            type="text"
            placeholder="Group Name"
            matInput
            formControlName="name"
          />
        </mat-form-field>
      </div>
      <div class="col-6 ">
        <mat-form-field class="example-form-field" style="width: 100%; " appearance="outline">
          <mat-label>Description</mat-label>
          <textarea style="min-height: 130px; height: auto;"           matInput
            placeholder="Description"
            matInput
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
