<div id="auth"  fxLayout="row" fxLayoutAlign="center">
    <div id="auth-form-wrapper">
        <div id="auth-form">

        <div class="logo">
            <img src= "assets/images/logos/jarvisLogo00001.png">
        </div>
        <div fxLayout="row" id="login">
            <div class="quote-conatiner">
                <div class="quote"></div>
            </div>

            <router-outlet></router-outlet>
        </div>
        

        <div class="flex-spacer"></div>
        </div>
    </div>
</div>