<div id="customer-container">
  <!-- <div class="page-header-section">
    <br />
    <h1 class="header11">View Roster</h1>
    <button mat-raised-button color="primary" style=" float: right; margin-right: 30px;" routerLink="/roster/book/add" class="submit-button ml500 ttt433 ">
      &nbsp;Book &nbsp;   
      </button> 
  </div> -->

  <!-- <div  class="resource-name" >
    <div class="mb-8 date-picker"  fxLayout="column" fxLayout.gt-xs="row" style="width: 30% ;">
      <mat-form-field  appearance="outline" class="pb-0 w-100"  >
        <mat-label>Select Date</mat-label>
        <input  matInput [matDatepicker]="picker2" formControlName="selectDate">
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-datepicker-toggle matIconSuffix [for]="picker2" class="dateIcon"></mat-datepicker-toggle>
    </div>
    
  </div> -->
  
  <div class="page-content-section">
    

    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" fxLayoutAlign="right">
      <div fxFlex="20%"></div>
      <div fxFlex="20%"></div>
      <div fxFlex="20%">
        <form [formGroup]="superForms">
        <div fxLayout="column" fxLayout.gt-xs="row">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select Project</mat-label>
        <input type="text"
                       placeholder="Select Project"
                       aria-label="Number"
                       matInput
                       formControlName="projectIds"
                       [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let company of autoData2" [value]="company.name">
                    {{ company.name }}
        </mat-option>
        </mat-autocomplete>
        </mat-form-field>
        </div>
        </form>
        </div>
      <div fxFlex="20%"></div>
      <div fxFlex="10%">
        <div class="submit-button-section exportRoster">
          <button mat-raised-button color="primary"  (click)="bulkViewRoster()">
            &nbsp; Bulk Action &nbsp;
          </button>
        </div>
      </div>
      <div fxFlex="20%">
          <div class="submit-button-section exportRoster">
            <button mat-raised-button color="primary"  (click)="exportRoster()">
              &nbsp; Export &nbsp;
            </button>
          </div>
        </div>
      <div fxFlex="20%">
        <div class="mb-8 date-picker"  fxLayout="column" fxLayout.gt-xs="row" style="margin-right: 40px;">
          <mat-form-field  appearance="outline" class="pb-0 w-100"  >
            <mat-label>Select Date</mat-label>
            <input  matInput [matDatepicker]="picker2"  (dateChange)="onDateChange($event)" >
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <mat-datepicker-toggle matIconSuffix [for]="picker2" class="dateIcon"></mat-datepicker-toggle>
        </div>
      </div>
      
      <!-- <div fxFlex="20%">
        <div class="mb-8" fxLayout="column" fxLayout.gt-xs="row">
          <mat-form-field appearance="outline" class="pb-0 w-100">
            <mat-label>Month</mat-label>
            <mat-select>
              <mat-option>test </mat-option>
               <mat-option >test111</mat-option> 
              <mat-option value="1">Jan</mat-option>
              <mat-option value="2">Feb</mat-option>
              <mat-option value="3">Mar</mat-option>
              <mat-option value="4">Apr</mat-option>
              <mat-option value="5">May</mat-option>
              <mat-option value="6">Jun</mat-option>
              <mat-option value="7">Jul</mat-option>
              <mat-option value="8">Aug</mat-option>
              <mat-option value="9">Sep</mat-option>
              <mat-option value="10">Oct</mat-option>
              <mat-option value="11">Nov</mat-option>
              <mat-option value="12">Dec</mat-option>
            </mat-select>
          </mat-form-field>

          

        </div> 
      </div>-->
    </div>

    <section class="example-container mat-elevation-z8" tabindex="0">
      <div class="table-container" >
        <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8 demo-table">

          <ng-container *ngFor="let column of columns ;let i =index" [matColumnDef]="column.columnDef" [sticky]="i==0"
            [stickyEnd]="column.header == 'action'">

            <th mat-header-cell *matHeaderCellDef [ngClass]="getDayName(column.header) == 'Sun' ? 'bclr101':getDayName(column.header) == 'Sat' ? 'bclr101':''">

              {{column.header }} <br /> &nbsp;{{column.header != 'Action' && column.header !=
              'Resource' ?

              getDayName(column.header) : ''}}
             
            </th>
            <!-- <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                 <mat-checkbox  color='primary' (change)="$event ? masterToggle() : null"
                 [checked]="isAllSelected()"
                 [indeterminate]="selection.hasValue() && !isAllSelected()">
                 </mat-checkbox>
               </th>
               <td mat-cell *matCellDef="let row">
                 <mat-checkbox  color='primary' (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                   [checked]="selection.isSelected(row)">
                 </mat-checkbox>
               </td>
            </ng-container> -->
            <ng-container *ngIf="column.header == 'Resource'">
              <td mat-cell *matCellDef="let row" class="table-header">
                {{ column.cell(row)}}
              </td>
            </ng-container>
            <ng-container *ngIf="column.header != 'Action' && column.header != 'Resource'">
              <td mat-cell *matCellDef="let row" class="table-header" (click)="handleEdit(column.header, row.Resource,row)" 
                (click)="setData(getDayName(column.header))"
                
                [ngClass]="getProbability(column.header, row.Resource) == 'high' ? 'bclr100' : getProbability(column.header, row.Resource) == 'medium'  ? 'bclr50' : getProbability(column.header, row.Resource) == 'low'  ? 'bclr20' :''">
                <!-- <div class="table-action-icon" *ngIf="column.cell(row) == 'true'" routerLink="/roster/book/edit/{{row.Projects}}" (click)="setData(getDayName(column.header))"><mat-icon class="iconColor">check</mat-icon> <a mat-icon-button class="table-action-btn " (click)="deleteRoasterItem(row.Projects, column.header)" title="Delete Contact" color="error"><mat-icon>delete</mat-icon></a></div> -->
                <!-- <div class="table-action-icon hidden" *ngIf="column.cell(row) == 'false'" ><mat-icon>done_outline</mat-icon> <a mat-icon-button class="table-action-btn " (click)="deleteRoasterItem(row.Projects, column.header)" title="Delete Contact" color="error"><mat-icon>delete</mat-icon></a></div> -->
                <!-- {{column.cell(row)}} -->
                <!-- <div *ngIf="getDayName(column.header) == 'Tue' || getDayName(column.header) =='Wed'">{{getProjectname(column.header, row.Resource)}}  {{getProbability(column.header, row.Resource)}} </div> -->
                <!-- <div *ngIf="getDayName(column.header) == 'Tue' || getDayName(column.header) =='Wed'">{{getProjectname(column.header, row.Resource)}}  {{getProbability(column.header, row.Resource)}} </div>
                <div *ngIf="getDayName(column.header) == 'Fri' ">{{getProjectname(column.header, row.Resource)}} {{getProbability(column.header, row.Resource)}} </div>
                <div *ngIf=" getDayName(column.header) == 'Thu' || getDayName(column.header) =='Mon' ">{{getProjectname(column.header, row.Resource)}} {{getProbability(column.header, row.Resource)}} </div>
                <div *ngIf=" getDayName(column.header) == 'Sat' || getDayName(column.header) =='Sun' "> -->
                 <div class="myDIV"> {{getProjectname(column.header, row.Resource)}}</div>
                 <span class="hide">{{ProjectName1}}</span>
              </td>
              
            </ng-container>
            <ng-container *ngIf="column.header == 'Action'">
              <td mat-cell *matCellDef="let row">
                <a mat-icon-button class="table-action-btn " (click)="deleteTotalRoaster(row.Resource)"
                  title="Delete Contact" color="error">
                  <!-- <mat-icon>delete</mat-icon> -->
                </a>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>
      </div>
    </section>
  </div>
</div>